<div class="row col-md-6">
<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name , class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content , class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.date_select :limit_date , class: 'form-select' %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select(:status, ['unstarted','in progress', 'completed'], {},class: 'select-form') %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select(:priority, Task.priorities,{}, class: 'select-form') %>
  </div>

  <br>
  <% @tags.each do |tag| %>
  <%= form.check_box :tag_ids, {multiple: true, checked: tag[:checked], disabled: tag[:disabled], include_hidden: false}, tag[:id] %>
  <label style="background-color: aquamarine " for="task_tag_ids_<%= tag.id  %> "> <%= tag.name  %></label>
  <% end %>

  <% if @clicked_tags != nil%>
  <% @clicked_tags.each do |tag| %>
  <%= form.check_box :tag_ids, {multiple: true, checked: true}, tag[:id] %>
  <label style="background-color: aquamarine " for="task_tag_ids_<%= tag.id  %> "> <%= tag.name  %></label>
  <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit 'Enregistrer', class: 'btn btn-primary left-marge' %>
  </div>
<% end %>



<div>
