<h1>general tasks list</h1>



<div class="row">
  <%= form_with(scope: :task, url: tasks_path, method: :get, local: true ) do |form|%>

	  <%= form.label :task_name, class: 'col-md-1' %>
	  <%= form.text_field :name, class: 'col-md-3',style: "padding: 7px;", placeholder: 'search...' %>
	  <%= form.label :status, class: 'col-md-1' %>
	  <%= form.select(:status,['','unstarted','in progress', 'completed'], {},class: 'col-md-1',style: "padding: 7px;") %>
	  <%= form.label :label, class: 'col-md-1' %>
	  <span class="col-md-3 input-group " role="group" aria-label="...">
		  <%= form.select(:label,['','unstarted','in progress', 'completed'], {},class: '',style: "padding: 7px;") %>
		  <%= form.submit 'Chercher', class: 'btn btn-default'%>
	  <span/>

 <% end %>
</div>

<div class="row">
	<%= link_to 'New Task', new_task_path, class: 'btn btn-primary left-marge', style: "color: white;" %>

</div>

<table class="table">
  <thead>
    <tr>
      <th  scope="col">Name</th>
      <th  scope="col">Content</th>
      <th scope="col">Author</th>
      <th  scope="col" class="text-primary">
      	<span class="deadline text-primary">
		    <%= link_to "Deadline", tasks_path(sort_expired: "true"), class: "text-primary" %>
		    <%= image_tag "up.png", style: 'height: 30px; width: 20px; ' %>
		</span>
      </th>
      <th  scope="col">Status</th>
      <th  scope="col" class="text-primary">
      	<span class="deadline text-primary">
		    <%= link_to "Priority", tasks_path(sort_priority: "true"), class: "text-primary" %>
		    <%= image_tag "up.png", style: 'height: 30px; width: 20px; ' %>
		</span>
      </th>
      <!--<th colspan="3"></th>-->
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="task_row"><%= task.name %></td>
        <td><%= task.content %></td>
        <td><%= task.user.name %></td>
        <td><%= task.limit_date %></td>
        <td class="task_status"><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= paginate @tasks %>
