<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th  scope="col">Name</th>
      <td><%= @task.name %></td>
    </tr>
  </thead>

  <tbody>
      <tr>
      <th  scope="col">Content</th>
        <td><%= @task.content %></td>
      </tr>

<tr>
	<th  scope="col">Deadline</th>
	<td>  <%= @task.limit_date %></td>
      </tr>

<tr>
        <th  scope="col">Status</th>
        <td>  <%= @task.status %></td>
      </tr>

<tr>
        <th  scope="col">Priority</th>
        <td><%= @task.priority %></td>
      </tr>


  </tbody>
</table>

<%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-primary text-white left-marge' %> |
<%= link_to 'Back', tasks_path, class: 'btn btn-success text-white left-marge' %>
